@page "/authors"
@using BlazorApp.Data
@inject IAuthorService authorService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime;

<div class="col-12">
    <h3> <b>Enter Author Information</b></h3>
    <hr />

    <div id="divServerValidation" class="col-10 alert alert-info">

    </div>

    <EditForm Model="@author" OnValidSubmit="@SaveAuthor">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="col-12 row">
            <label class="col-2 font-weight-bold">first name :</label>
            <InputText class="form-control col-3" @bind-Value="author.FirstName" placeholder="first name" />
            &nbsp;<ValidationMessage For="@(()=>author.FirstName)" />
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-2 font-weight-bold">last name :</label>
            <InputText class="form-control col-3" @bind-Value="author.LastName" placeholder="last name" />
            <ValidationMessage For="@(()=>author.LastName)" />
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-2 font-weight-bold">city :</label>
            @*<InputText class="form-control col-3" @bind-Value="author.City" placeholder="last name" />*@
            <InputSelect @bind-Value="author.City" class="form-control col-3">
                @if(Cities!=null)
                {
                    foreach(var city in Cities)
                        {
                            <option value="@city">@city</option>
                        }
                }
            </InputSelect>
        </div>
        <br />
        <div class="col-12 row">
            <label class="col-2 font-weight-bold">email address :</label>
            <InputText class="form-control col-3" @bind-Value="author.EmailAddress" placeholder="email address" />
        </div>
        <br />
        <div class="col-12 row">
            <span class="col-2"></span>
            <input type="submit" class="form-control col-1 btn btn-primary" value="Save" />
            <span>&nbsp;</span>
            <input type="submit" class="form-control col-1 btn btn-primary" value="Clear" />
        </div>
    </EditForm>
</div>

<div class="col-12">
    @foreach (Author author in AuthorList)
    {
    <div class="col-12 row">
        <div class="col-2">
            <NavLink href=@string.Format("/authors/authordetail/{0}",@author.AuthorId)>
                @author.AuthorId
            </NavLink>
        </div>
        <div class="col-2"> @author.FirstName @author.LastName @author.City</div>       
    </div>
    }
</div>

<div class="col-12 row">@authorService.GetCreatedDate()</div>
<div class=" col-12 row">version: @authorService.GetVersion()</div>

<button class="btn btn-primary" @onclick="Navigate">J.K.Rowling</button>

@code {

    public Author author { get; set; }

    public List<Author> AuthorList { get; set; }
    //public AuthorService authorService { get; set; }

    public string[] Cities { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && Cities == null)
        {
            Cities = await JSRuntime.InvokeAsync<string[]>("getCities");
            StateHasChanged();
        }
    }

    protected override void OnInitialized()
    {
        author = new Author();
        //authorService = new AuthorService();
        AuthorList = authorService.GetAuthors();
    }

    void Navigate()
    {
        NavigationManager.NavigateTo("/authors/authordetail/34");
    }

    public async Task SaveAuthor()
    {
        authorService.SaveAuthor(author);
        var firstName = author.FirstName;
        var lastName = author.LastName;
        author = new Author();
        await JSRuntime.InvokeVoidAsync("saveMessage", firstName, lastName);
    }
}